In [ ]:
import spacy

In [ ]:
import en_core_web_sm
m=spacy.load('en_core_web_sm')

In [ ]:
example1="The series was mainly produced by David Heyman, and stars Daniel Radcliffe, Rupert Grint, and Emma Watson as the three leading characters: Harry Potter, Ron Weasley, and Hermione Granger. Four directors worked on the series: Chris Columbus, Alfonso Cuarón, Mike Newell, and David Yates.[5] Michael Goldenberg wrote the screenplay for Harry Potter and the Order of the Phoenix (2007), while the remaining films' screenplays were written by Steve Kloves. Production took place over ten years, with the main story arc following Harry's quest to overcome his arch-enemy Lord Voldemort."

In [ ]:
doc=m(example1)

In [ ]:
for ent in doc.ents:
  print(ent.text,ent.label_)

David Heyman PERSON
Daniel Radcliffe PERSON
Rupert Grint PERSON
Emma Watson PERSON
three CARDINAL
Harry Potter PERSON
Ron Weasley PERSON
Hermione Granger PERSON
Four CARDINAL
Chris Columbus PERSON
Alfonso Cuarón PERSON
Mike Newell PERSON
David Yates.[5 PERSON
Michael Goldenberg PERSON
Harry Potter PERSON
2007 DATE
Steve Kloves PERSON
ten years DATE
Harry PERSON
Voldemort PRODUCT

In [ ]:
#values - PERSON, PRODUCT, WORK_OF_ART, FAC, GPE, CARDINAL, LOC, TIME, DATE, QUANTITY

In [ ]:
#QUERYING
locs=[('Omnicom','IN','New York'),('DDB Needham','IN','Atlanta'),('China','IN','Atlanta')]

In [ ]:
query=[e1 for (e1,rel,e2) in locs if e2=='Atlanta']

In [ ]:
query

['DDB Needham', 'China']